.h1 {
	@apply lg:text-8xl sm:text-7xl text-4xl font-semibold;
}
.h2 {
	@apply lg:text-6xl sm:text-5xl text-3xl font-semibold;
}
.h3 {
	@apply lg:text-5xl sm:text-4xl text-2xl font-semibold;
}
.h4 {
	@apply lg:text-5xl sm:text-4xl text-2xl font-light;
}
.h5 {
	@apply lg:text-4xl sm:text-3xl text-xl font-semibold;
}
.h6 {
	@apply lg:text-4xl sm:text-3xl text-xl font-light;
}
.h7 {
	@apply lg:text-3xl sm:text-2xl text-lg font-semibold;
}
.h8 {
	@apply lg:text-2xl sm:text-xl text-lg font-semibold;
}
